/* Base Styles */
.nav {
    width: 100%;
    height: 15%;
    background: #151b20;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav a {
    color: #ffbf00;
    text-decoration: none;
    padding: 50px;
}

.nav a:hover {
    color: grey;
}

.nav ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 955px) {
    .nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        padding: 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .nav {
        height: auto;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .nav a {
        padding: 10px;
        font-size: 14px;
    }
}


/* home.html */

/* section one */
.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('./images/2.png'); 
    background-size: cover; /* Ensures the image covers the entire div */
    width: 100%;
    height: 90vh;

}

.sub-hero h1 {
    color: white;
    font-size: 100px;
    font-weight: 900;
    padding: 0px 60px;
    text-align: left;
    letter-spacing: 50px;
}

@media screen and (max-width: 1400px) {
    .hero {
        height: 50vh;
/*        padding: 60px 0px;*/
    }
}

@media (max-width: 950px) {
    .hero {
        display: flex;
        justify-content: center;
        height: auto;
        padding: 10px 0px;
        flex-direction: column;
    }

}


@media (max-width: 650px) {
    .hero {
        display: flex;
        flex-direction: row;
    }
    .sub-hero h1  {
        font-size: 35px;
    }
    .hero img {
        width: 150px;
        height: 150px;
    }
    .sub-hero {
        width: 65% !important;
    }
}

/* section 2 */

.sec2 {
    position: relative; /* Required for pseudo-element positioning */
    width: 100%;
    height: 70vh;
    background-image: url('./images/sec2-bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Prevent content overflow */

    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.sub-sec2 {
    width: 50%;
    height: 60%;
    background: #ffffff33;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub1-sec2 {

    width: 50%;
    height: 60%;
    background: #ffffff33;
    padding: 25px;
    display: flex;
    align-items: center;
}

.sub-sec2 h1 {
    color: #987200a8  !important;
    font-weight: 900;
    font-size: 50px;
    line-height: 70px;
}

.sub1-sec2 p {
    color: #343a40 !important;
    text-align: justify;
    font-size: larger
}

@media screen and (max-width: 1200px) {
    .sub1-sec2 p {
        font-size: small;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 770px) {
    .sub1-sec2  {
       width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .sec2 {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .sub-sec2  {
       width: 100%;
    }
}

/* section 3 */

.sec3 {
    width: 100%;
    background-image: url('./images/white-bg.jpg'); 
    background-size: cover; 
    padding: 30px;
    background-image: url('./images/1.png'); 
    background-size: cover;
}

.sec3-points {
    padding-top: 20px;
}

.sec3-points ul{
    display: flex;
    justify-content: space-evenly;
}

.sec3-points li {
    list-style: none;
}

#sec3-years a{
    text-decoration: none;
    color: whitesmoke !important;
}


/*changing bg */



/*personal-details*/

.personal-details {
    display: flex;
    padding-top: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 50px;
}

.personal-details-sub-paragraph {
    text-align: justify;
    padding-top: 30px;
}

.personal-details-sub-paragraph p span {
    font-weight: bold;
}

.personal-details-sub-content h1{
    color: wheat;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
}

.personal-details-image img{
    width: 600px;
    height: 300px;
    object-fit: contain
}

.content {
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 770px) {
    .personal-details-sub-content h1  {
       font-size: 30px;
    }
}

/*projects */

#section4 {
    background-image: url('./images/projectbg.png'); 
    background-size: cover;
}

#section4 p{
    color: white;
}



.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    font-weight: 900;
    margin-top: 40px;
    color: #ffa600;
    font-size: 50px
}
#projects-para {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
}

.btn {
    width: 120px;
    height: 50px;
    background: #ffe700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 30px;
}

.btn:hover {
    background: #cbb507;
}

.projects-things {
        display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects-box {
    width: 20%;
    height: 20vh;
    background: white;
    box-shadow: 6px 0px 19px -6px;
    border-bottom: 5px solid #ffe700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-content {
    padding: 50px
}

.project-content-sub {
    background: #495057;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
}

.project-content-sub h1 {
    color: wheat;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: underline;
}

.project-content-sub p {
    text-align: justify
}


/*-----------------------------------------------*/

/*    CONTACT */

.contact {
    width: 100%;
    background: #ececec;
}

.contact-logo {
    padding: 70px;
}

.contact-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-info {
    margin: 50px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width: 850px) {
    li {
        padding: 10px;
    }
}
 @media screen and (max-width: 650px) {
    .contact-contents {
        display: flex;
        flex-direction: column;
    }
}

/*    service section*/
#services {
    width: 100%;
    height: 80vh;
    background: #343a40;
}

.services-1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
        justify-content: space-around;
}

.services-1-sub-1 {
    margin-bottom: 100px
}

.services-1-sub-1 ul{
    color: white;
    font-size: 25px;
        margin-left: -800px
}

.services-1-sub-1 h1 {
        font-size: 60px;
    color: wheat;

}


.rotate-left {
  transform: rotate(-90deg); /* Rotate 90 degrees counter-clockwise */
}

.rotate-right {
  transform: rotate(90deg); /* Rotate 90 degrees clockwise */
}

.flip-horizontal {
  transform: scaleX(-1); /* Flips the image horizontally */
}

section {
    overflow: hidden;
}



/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid blue;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: white;
  border: 2px solid blue;
}
